{% extends "base.html" %}
<!doctype html>
<link href="bootstrap-fileinput/css/fileinput.css" rel="stylesheet">
<script src="bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
<script src="bootstrap-fileinput/js/fileinput_locale_zh.js" type="text/javascript"></script><!--漢化中文語言包-->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/bootstrap/js/jquery-2.0.3.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
{% block body %}


        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-9">
                            <div class="breadcrumb-content">
                                <h2 class="title">Blog Details</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Blog Single</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- blog-details-area -->
            <section class="blog-details-area blog-gray-bg">
                <div class="container">
                    <div class="container-inner-wrap">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-md-10">
                                <div class="standard-blog-item mb-50">
                                    <div class="blog-thumb">
                                        <img src="img/blog/blog_thumb01.jpg" alt="">
                                    </div>
                                    <div class="standard-blog-content blog-details-content">
                                        <h4 class="title">Providing Professional or Expert Advice</h4>
                                        <ul class="standard-blog-meta">
                                            <li><a href="#"><i class="far fa-user"></i>By Tome</a></li>
                                            <li><a href="#"><i class="far fa-calendar"></i>April 15, 2021</a></li>
                                            <li><a href="#"><i class="far fa-comment-alt"></i>0 Comments</a></li>
                                        </ul>
                                        <p>Defined as the practise of providing a third party with etise on matter in exchang fee. The service may involve either
                                        advisory or implmentation services. For the consultan taking an indden center with a caption, link and alt text New
                                        Journey to the Mars in the Gutenberg editor, you can drag and drop an image the editing screen.</p>
                                        <p>Design comes alive – an app becomes an intective story that can engage users. Designers have a lot of tools to make a
                                        story more interesting. You can align your image to the left, right, or center caption, link and alt text Neweditor.</p>
                                        <blockquote>
                                            “ Consulting is defined the practise of providing third party with expertise on a matters in exchange a free defined
                                            advisory or implementation services ”
                                            <footer>Rosalina D.William</footer>
                                        </blockquote>
                                        <p>Becomes an interactive story that can engage users. Designers have a lot of tools to make a story more intersting. You
                                        can align your image to the leftcenter with a caption, link and alt text New Journey to the center caption Marstaking.</p>
                                        <div class="blog-details-list">
                                            <ul>
                                                <li><a href="#">Marketing consulting Online Business</a> – an app becomes ans interactive story that can engage users. Designers have tools to make</li>
                                                <li><a href="#">Design comes ecomes an interactive alive</a> – Business becomes ans interactive story that can engage users designers have tools to make.</li>
                                            </ul>
                                        </div>
                                        <div class="blog-details-img">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img src="img/blog/blog_details_img01.jpg" alt="">
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="img/blog/blog_details_img02.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <p>Becomes an interactive story that can engage users. Designers have a lot of tols to make a story more intersting. You
                                        can align your image to the leftcenter with a caption, link and alt text New Journey to the center caption Marstaking.</p>
                                        <div class="blog-line" data-background="img/blog/blog_item_line.png"></div>
                                        <div class="blog-details-bottom">
                                            <div class="blog-details-tags">
                                                <ul>
                                                    <li class="title"><i class="fas fa-tags"></i> Tags :</li>
                                                    <li><a href="#">Business</a></li>
                                                    <li><a href="#">Work</a></li>
                                                    <li><a href="#">Knowledge</a></li>
                                                    <li><a href="#">Online</a></li>
                                                </ul>
                                            </div>
                                            <div class="blog-details-social">
                                                <ul>
                                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="avatar-post mt-50 mb-50">
                                    <div class="post-avatar-img">
                                        <img src="img/blog/post_avatar_img.png" alt="img">
                                    </div>
                                    <div class="post-avatar-content">
                                        <h5>Thomas Herlihy</h5>
                                        <p>Becomes interve story that can engage users. Designers have ools to make a story more intersting.</p>
                                        <div class="blog-details-social">
                                            <ul>
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-next-prev">
                                    <ul>
                                        <li class="blog-prev">
                                            <a href="#"><img src="img/icon/left_arrow.png" alt="img">Previous Post</a>
                                        </li>
                                        <li class="blog-next">
                                            <a href="#">Next Post<img src="img/icon/right_arrow.png" alt="img"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comment-reply-box">
                                    <h5 class="title">LEAVE A REPLY</h5>
                                    <form action="#" class="comment-reply-form">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-grp">
                                                    <input type="text" placeholder="Author *">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-grp">
                                                    <input type="email" placeholder="Your Email *">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-grp">
                                            <textarea name="message" placeholder="Type Comment Here..."></textarea>
                                        </div>
                                        <div class="form-grp checkbox-grp">
                                            <input type="checkbox" id="checkbox">
                                            <label for="checkbox">Don’t show your email address</label>
                                        </div>
                                        <button type="submit" class="btn rounded-btn">Submit now</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-10">
                                <aside class="blog-sidebar">
                                    <div class="widget">
                                        <h4 class="widget-title">Search</h4>
                                        <div class="sidebar-search-form">
                                            <form action="#">
                                                <input type="text" placeholder="Search ...">
                                            </form>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <h4 class="widget-title">Recent Posts</h4>
                                        <div class="rc-post-list">
                                            <ul>
                                                <li>
                                                    <div class="rc-post-thumb">
                                                        <a href="blog-details.html"><img src="img/blog/rc_post_thumb01.jpg" alt=""></a>
                                                    </div>
                                                    <div class="rc-post-content">
                                                        <h6 class="title"><a href="blog-details.html">How Manage Business Online Reputation</a></h6>
                                                        <span class="date"><i class="far fa-calendar-alt"></i> August 19, 2021</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="rc-post-thumb">
                                                        <a href="blog-details.html"><img src="img/blog/rc_post_thumb02.jpg" alt=""></a>
                                                    </div>
                                                    <div class="rc-post-content">
                                                        <h6 class="title"><a href="blog-details.html">Consulting is defined as the practise</a></h6>
                                                        <span class="date"><i class="far fa-calendar-alt"></i> August 19, 2021</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="rc-post-thumb">
                                                        <a href="blog-details.html"><img src="img/blog/rc_post_thumb03.jpg" alt=""></a>
                                                    </div>
                                                    <div class="rc-post-content">
                                                        <h6 class="title"><a href="blog-details.html">Marketing consulting Online Business</a></h6>
                                                        <span class="date"><i class="far fa-calendar-alt"></i> August 19, 2021</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <h4 class="widget-title">Categories</h4>
                                        <div class="sidebar-cat-list">
                                            <ul>
                                                <li><a href="#">Dairy & Bakery <i class="fas fa-angle-double-right"></i></a></li>
                                                <li><a href="#">Online Business <i class="fas fa-angle-double-right"></i></a></li>
                                                <li><a href="#">Food Snacks <i class="fas fa-angle-double-right"></i></a></li>
                                                <li><a href="#">Grains Rice & Snacks <i class="fas fa-angle-double-right"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <div class="sidebar-add">
                                            <a href="#"><img src="img/blog/add.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="widget">
                                        <h4 class="widget-title">Tag Cloud</h4>
                                        <div class="sidebar-tag-list">
                                            <ul>
                                                <li><a href="#"># Business</a></li>
                                                <li><a href="#"># Knowledge</a></li>
                                                <li><a href="#"># Work</a></li>
                                                <li><a href="#"># Online</a></li>
                                                <li><a href="#"># Who</a></li>
                                                <li><a href="#"># Technology</a></li>
                                                <li><a href="#"># Consult</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-details-area-end -->

        </main>
        <!-- main-area-end -->
        {% endblock %}


</html>
